.chat-main
  .chat-main__group
    .group-left-box
      %h2.group-left-box__current-group
        = @group.name
      %ul.group-left-box__member-list
        Member:
        - @group.users.each do |user|
          %li.group-left-box__member-list--member
            =user.name
    = link_to 'Edit', edit_group_path(@group.id), class:"group__btn--edit"
  .messages
    = render @messages
 
  .form
    = form_for [@group, @message],html: { class: 'form__message'} do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text',placeholder: "メッセージ入力"
        = f.label :image, class: 'input-box__image' do
          =icon('far', 'image', class:"input-box__image--icon")
          = f.file_field :image, class: 'input-box__image--file'
      = f.submit 'Send', class: 'form__message--submit'