
.side-bar
  .side-bar__users--name
    .top-items
      %p.top-items__name
        = current_user.name
      .top-items__icon
        = link_to new_group_path, class:"top-items__icon--btn top-items__icon--edit" do
          = icon('fas', 'edit', class:"top-items__icon--icon")
        = link_to edit_user_path(current_user), class:"top-items__icon--btn top-items__icon--edit" do
          = icon('fas', 'cog', class:"top-items__icon--icon")
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group--name
        = link_to group_messages_path(group) , class:'group-link' do
          = group.name
      .side-bar__group--message
        = group.show_last_message
 
    

